#NEXT_PUBLIC_SUPABASE_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=https://localhost/api
NEXT_PUBLIC_SUPABASE_ANON_KEY=<ANON_SECRET_LEY>


# Razorpay Keys
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_SFx7gq3dQ7LJAD
RAZORPAY_KEY_ID=rzp_test_SFx7gq3dQ7LJAD
RAZORPAY_KEY_SECRET=h2xv7gqPxfrmd3VoqzPc3430
